<a href="{{ button.url }}" {{ button.target ? 'target="'~ button.target ~'"' }} class="btn {{ class }}" {{ tabindex ? 'tabindex="'~ tabindex ~'"' }}>


	<span class="title">{{button.title}}</span>
	{% if icon == 'arrow' %}
		<div class="icon arrow">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomandpan="magnify" viewbox="0 0 30 30.000001" height="40" preserveaspectratio="xMidYMid meet" version="1.0">
				<defs>
					<clipPath id="e0c2ea1684"><path d="M 5.289062 16.882812 L 7.328125 16.882812 L 7.328125 18.921875 L 5.289062 18.921875 Z M 5.289062 16.882812 " clip-rule="nonzero"/></clipPath>
					<clipPath id="cab011b9d0"><path d="M 6.710938 0 L 23.402344 0 L 23.402344 29.03125 L 6.710938 29.03125 Z M 6.710938 0 " clip-rule="nonzero"/></clipPath>
				</defs>
				<g clip-path="url(#cab011b9d0)"><path fill="#2e2e2e" d="M 8.761719 0.0234375 L 23.289062 14.570312 L 8.839844 29.003906 L 6.792969 26.949219 L 19.1875 14.570312 L 6.710938 2.074219 L 8.761719 0.0234375 " fill-opacity="1" fill-rule="nonzero"/></g>
			</svg>
		</div>
	{% elseif icon == 'pen' %}
		<div class="icon pen">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomandpan="magnify" viewbox="0 0 30 30.000001" height="40" preserveaspectratio="xMidYMid meet" version="1.0">
				<defs>
					<clipPath id="4befd76513"><path d="M 0.484375 18.726562 L 1.355469 18.726562 L 1.355469 22.355469 L 0.484375 22.355469 Z M 0.484375 18.726562 " clip-rule="nonzero"/></clipPath>
					<clipPath id="1c4ab81923"><path d="M 0.484375 0 L 29.515625 0 L 29.515625 29.03125 L 0.484375 29.03125 Z M 0.484375 0 " clip-rule="nonzero"/></clipPath>
					<clipPath id="d638b327e4"><path d="M 0.484375 5.804688 L 0.484375 23.226562 C 0.484375 26.433594 3.082031 29.03125 6.289062 29.03125 L 23.710938 29.03125 C 26.917969 29.03125 29.515625 26.433594 29.515625 23.226562 L 29.515625 5.804688 C 29.515625 2.601562 26.917969 0 23.710938 0 L 6.289062 0 C 3.082031 0 0.484375 2.601562 0.484375 5.804688 Z M 0.484375 5.804688 " clip-rule="nonzero"/></clipPath>
				</defs>
				<g clip-path="url(#4befd76513)"><path fill="#ffffff" d="M -2.273438 18.726562 L 1.355469 18.726562 L 1.355469 22.355469 L -2.273438 22.355469 Z M -2.273438 18.726562 " fill-opacity="1" fill-rule="nonzero"/></g>
				<g clip-path="url(#1c4ab81923)">
					<g clip-path="url(#d638b327e4)"><path fill="#2e2e2e" d="M 26.503906 15.417969 L 26.503906 23.777344 C 26.503906 26.667969 24.140625 29.03125 21.246094 29.03125 L 5.742188 29.03125 C 2.847656 29.03125 0.484375 26.667969 0.484375 23.777344 L 0.484375 8.269531 C 0.484375 5.378906 2.847656 3.015625 5.742188 3.015625 L 14.101562 3.015625 L 14.101562 4.914062 L 5.742188 4.914062 C 3.898438 4.914062 2.386719 6.425781 2.386719 8.269531 L 2.386719 23.777344 C 2.386719 25.621094 3.898438 27.132812 5.742188 27.132812 L 21.246094 27.132812 C 23.089844 27.132812 24.605469 25.621094 24.605469 23.777344 L 24.605469 15.417969 Z M 24.148438 9.28125 L 20.238281 5.371094 L 11.035156 14.574219 L 14.945312 18.484375 Z M 21.582031 4.027344 L 25.492188 7.9375 L 26.832031 6.597656 L 22.917969 2.6875 Z M 12.949219 19.175781 L 10.34375 16.570312 L 9.871094 19.648438 Z M 15.089844 20.765625 L 7.597656 21.921875 L 8.800781 14.121094 C 13.503906 9.414062 18.210938 4.707031 22.917969 0 L 29.515625 6.597656 C 24.808594 11.304688 20.101562 16.011719 15.394531 20.71875 Z M 15.089844 20.765625 " fill-opacity="1" fill-rule="nonzero"/></g>
				</g>
			</svg>
		</div>
	{% endif %}
</a>