<div class="link-field-container">
	<div class="form-group">
		<label for="{{ field.name }}_url">URL</label>
		<input type="url" id="{{ field.name }}_url" name="{{ field.name }}[url]" value="{{ field.value.url|default('') }}" class="form-control" placeholder="https://example.com" {% if config.validation.required %} required {% endif %}>
	</div>

	<div class="form-group">
		<label for="{{ field.name }}_title">Link Text</label>
		<input type="text" id="{{ field.name }}_title" name="{{ field.name }}[title]" value="{{ field.value.title|default('') }}" class="form-control" placeholder="Link text">
	</div>

	<div class="form-group">
		<label for="{{ field.name }}_target">Open in</label>
		<select id="{{ field.name }}_target" name="{{ field.name }}[target]" class="form-control">
			<option value="_self" {% if field.value.target == '_self' %} selected {% endif %}>Same window</option>
			<option value="_blank" {% if field.value.target == '_blank' %} selected {% endif %}>New window</option>
		</select>
	</div>
</div>
