<header class="header flex flex-dir-column justify-center">
    <div class="container">
        <div class="row">
            <div class="col xs-6 sm-3 header__logo-wrapper">
                <a href="{{ site.url }}" class="text-hide block header__logo">
                    <img src="{{ site.theme.link }}/img/logo.svg" alt="{{ site.name }} Logo">
                </a>
            </div>
            <nav class="col xs-12 last-xs reset-sm sm-8 header__nav" id="main-nav" aria-label="Main navigation">
                {% include 'Header/nav.twig' with {
                    menu: theme_menus.header_menu
                } only %}
            </nav>
            <div class="col xs-6 sm-1 header__controls">
                <button class="header__search" type="button">{{ svg_icon('search') }}</button>
                <button class="hamburger hamburger--squeeze hidden-from-sm" type="button">
                    <span class="hamburger-box"><span class="hamburger-inner"><span class="sr-only">Toggle Menu</span></span></span>
                </button>
            </div>
        </div>
    </div>
    {{ appendHeader }}
</header>
