{% set padding = 'contain' %}
{% set isimage = false %}
{% if module.padding == 'full' %}
	{% set isimage = true %}
{% endif %}

<div class="module padding-fluid banner-cta cta-{{padding}} ">


	<div class="container container-{{padding}}">
		<div class="banner-cta-wrap {{isimage ? 'isimage' : ''}}">
			<div class="banner-cta-content">
				<div class="banner-cta-content-title league-spartan mh62 twhite transform-none">
					{{ module.title }}
				</div>
				<div class="banner-cta-content-description twhite quicksand t20">
					{{ module.description|wpautop }}
				</div>
				<div class="banner-cta-content-button button">
					{% include "partials/button-arrow.twig" with {
                        button: module.button,
                        class: 'tblack bg-white',
                        icon: module.icon
                    } %}
				</div>
			</div>

			<div class="banner-cta-image">
				{% include "partials/image.twig" with {
                    image: module.image,
                } %}

				{% if module.timer %}
					<div class="banner-cta-timer" data-timer="{{module.timer}}">
						<div class="banner-cta-timer-wrap">
							<div class="banner-cta-timer-set" data-set="days">
								<div class="banner-cta-timer-set-number quicksand t32">
									<div class="banner-cta-timer-set-number-value">0</div>
									<div class="banner-cta-timer-set-number-value">0</div>
								</div>
								<div class="banner-cta-timer-set-text quicksand twhite t26">days</div>
							</div>
							<div class="banner-cta-timer-set" data-set="hours">
								<div class="banner-cta-timer-set-number quicksand t32">
									<div class="banner-cta-timer-set-number-value">0</div>
									<div class="banner-cta-timer-set-number-value">0</div>
								</div>
								<div class="banner-cta-timer-set-text quicksand twhite t26">Hours</div>
							</div>
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	{% if isimage %}
		<div class="banner-cta-background">
			{% include "partials/image.twig" with {
            image: module.background
        } %}
		</div>
	{% endif %}
</div>
